.id1{
    display: flex;
    background-color: rgb(11, 11, 56);
    
}
.id2{
    
    font-size: 30px;
    color: white;
}
.id4{
    display: flex;
    gap: 20px;
    
    list-style: none;
    
    
}
.id4 a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.col-4 img{
    box-shadow: 5px 5px 16px;
}
.basi1{ 
    display: flex;
    margin-top: 10%;
    
}
.basi1 h1{
    font-size: 15px;
    gap: 12px;
}
.basi h2:hover{
    color: rgb(78, 78, 221);
    font-size: 40px;
}
.col-6 h6:hover{
    font-size: 100px;
    color: rgb(206, 87, 87);

}
.col-6 h3:hover{
    color: rgb(89, 89, 201);
}
.resume h2:hover{
    color:rgb(216, 48, 48);
}
.row h1:hover{
    color: rgb(75, 75, 211);

}


.contact-map{
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 450px;
        }
  

