.id1{
    display: flex;
    background-color: rgb(11, 11, 56);
    
}
.id2{
    
    font-size: 30px;
    color: white;
}
.id4{
    display: flex;
    gap: 20px;
    
    list-style: none;
    
    
}
.id4 a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.col-4 img{
    box-shadow: 5px 5px 16px;
}
.basi1{ 
    display: flex;
    margin-top: 8%;
    
}
.basi1 h1{
    font-size: 15px;
    gap: 12px;
}


.skill2{
   margin-top: 170px;
   margin-bottom: 170px;
  }
  .sk2{
    color:white;
}
.skill-card {
transition: all 0.3s ease-in-out;
background: #0d0d0d;
padding: 30px;
}
.skill-card:hover {
transform: translateY(-10px) scale(1.03);
box-shadow: 0 8px 25px rgba(0,0,0,0.15);
transition: 0.9s;
}

.skill-icon {
transition: transform 0.3s, color 0.3s;
}
.skill-card:hover .skill-icon {
transform: scale(1.2) rotate(-5deg);
color: #101010; /* highlight effect */
}

.progress-bar {
transition: width 1s ease-in-out;
}
.skill-card:hover .progress-bar {
width: 100% !important; /* fills up smoothly on hover */
transition: 2s;
}


.contact-map{
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
          height: 450px;
        }
        .project img:hover{
            width: 250px;
            height: 280px;
            transition: .5s;
        }
  

